
body {
	background-color: rgb(230, 240, 235);
}


#button_bay {
	background-color: rgb(70, 100, 70);
	margin: 0 auto;
	width: 70%;
	text-align: center;
	padding: 20px;
	border-radius: 50px;
	border: 4px solid rgb(20, 70, 10);
	opacity: 0;
}

#button_bay h1 {
	color: rgb(230, 240, 235);
}

#stages {
	width: 80%;
	margin: 10px auto;
}

#stage1 {
	float: left;
	width: 45%;
	margin: 2%;
	height: 1500px;
	border-radius: 50px;
	border: 5px solid green;
	background-color: white;
}

#stage2 {
	float: left;
	width: 45%;
	margin: 2%;
	height: 1500px;
	border-radius: 50px;
	border: 5px solid green;
	background-color: white;
}

#stage3 {
	width: 90%;
	height: 400px;
}

.stage3_box {
	position: relative;
	text-align: center;
	width: 150px;
	background-color: rgb(204, 156, 139);
}

#box1 {
	background-color: rgb(245, 215, 120);
	color: rgb(120, 90, 22);
	width: 350px;
	margin: 20px auto;
	text-align: center;
	position: relative;
}

#box2 {
	background-color: rgb(245, 215, 120);
	color: rgb(120, 90, 22);
	width: 400px;
	margin: 20px auto;
	text-align: center;
	position: relative;
}

#box3 {
	background-color: rgb(190, 112, 120);
	color: rgb(240, 190, 222);
	width: 400px;
	margin: 20px auto;
	text-align: center;
	position: relative;
}

#box4 {
	position: relative;
	opacity: .3;
}

#box5 {
	position: relative;
	opacity: .3;
}

#box6 {
	position: relative;
	opacity: .3;
}

#box7 {
	position: relative;
	opacity: .3;
	background-color: rgb(1, 17, 9);
	color: rgb(239, 223, 250);
	width: 300px;
	height: 150px;
	margin: 0 auto;
}

#box8 {
	position: relative;
	opacity: 0;
	background-color: rgb(29, 104, 200);
	text-align: center;
	width: 300px;
	margin: 20px auto;
	top: 70px;
}

/* CSS ANIIMATIONS */

@keyframes myAnimation {
	0% {
		opacity: 0;
		transform: scale(0, 0);
	}
	25% {
		opacity: 1;
		transform: scale(1, 1);
	}
	50% {
		transform: translate(40px, 150px);
	}
	75% {
		transform: translate(-40px, 150px);
	}
	100% {
		transform: translate(0, 0);
	}
}

#box2 {
	animation: myAnimation 5s;
}

#box1 {
	transition: background-color 1500ms;
}

#box1:hover {
	background-color: rgb(150,150,255);
}

/* JQUERY UI Animations - better practice to move this into a js file using variables */

/*.fadeInAndMove {
	opacity: 1;
	top: 50px;*/
}

/* CSS Animations */

#cssAniim {
	overflow: hidden;
}

#test {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 6;
  animation-direction: alternate;
  font-size: 1.1.em;
  color: rgb(210, 56, 170);
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 25%;
  }
}


